{:paths ["src"]
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :deps {org.clojure/clojure                         {:mvn/version "1.12.0"}
        cheshire/cheshire                           {:mvn/version "5.10.2"}
        clj-commons/clj-yaml                        {:mvn/version "0.7.106"}
        org.postgresql/postgresql                   {:mvn/version "42.5.4"}
        com.zaxxer/HikariCP                         {:mvn/version "6.2.1"}
        com.github.seancorfield/next.jdbc           {:mvn/version "1.2.780"}
        com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.15.0"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.15.0"}
        healthsamurai/matcho                        {:mvn/version "0.3.8"}

        context/system                              {:git/url "https://github.com/context-clj/system.git"
                                                     :sha "e61f3e7febba3408f076ccae043384a3ac933cb0"}
        }

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"  "test-resources" "test-resources-extra"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}}}
